<div class="container-fluid" id="about">
  <div id="about-bg-diagonal" class="bg-parallax"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div id="about-content-box">
          <div id="about-content-box-outer">
            <div id="about-content-box-inner">
              <div class="content-title">
                <h1>Far Rock Preformance</h1>
                <div id="about-des">
                  <p class="lead">Far Rock Preformance is based in Far rockaway New York. A small shop decicated to
                    producing top notch work. At Farrock Performance we focus on quality an no quanity so we are sure to
                    get the job done right he first time. Take a look at out Gallery better yes pass by an see us.</p>
                </div>
                <div id="about-btn" class="btn btn-primary">
                  <a href="/portfolio">OUR WORK</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
