<div class="container-fluid " id="top">
  <!-- <div class="overlay"> -->
  <div class="row overlay">
    <div class="col-md-12 ">
      <h1 class="display-1">FarRock Performance</h1>
      <h2>We Build to Perfection</h2>
      <a href="/contact" class="btn btn-outline-light btn-lg">Contact</a>
    </div>
  </div>
  <!-- </div> -->
</div>

<!--------------------Service--------------------------------------------------->
<div class="container-fluid" id="Service">
  <h1 class="display-5"><span>OUR</span> SERVICES <br> <span>&#10597;</span></h1>
  <div class="row">
    <div class="col-md-4">
      <div class="card-img-top w-100"><img src="../../../assets/img/vett.jpg" class="img-fluid" alt=""></div>
    </div>
    <div class="col-md-4">
      <h1>Custom Work</h1>
      <p class="lead">When it comes to custom work we have a force of talented partners that are able to handle anything
        we through at them. Ranging from custom music to interior an exterior work. Whatever you need done we're your
        one stop shop..</p>
    </div>
    <div class="col-md-4">
      <div class="card-img-top w-100"><img src="../../../assets/img/turbo.jpg" class="img-fluid" alt=""></div>

    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h1>Maintaince</h1>
      <p class="lead">When it comes to maintenance we handle your vehicle with the greatest care to keep running like
        brand new. Ranging from oil changes and tunes up all the way to breaks and parts repair.</p>
    </div>
    <div class="col-md-4">
      <div class="card-img-top w-100"><img src="../../../assets/img/engine.jpg" class="img-fluid" alt="">
      </div>

    </div>
    <div class="col-md-4">
      <h1>Installion</h1>
      <p class="lead">Installation an repairs is also a service we offer here at FarRock Performance. From exhaust to
        engines to intakes, even turbo installations we can install it. Give us a call an Schedule an apportionment.
      </p>
    </div>
  </div>
</div>


<!--------------------Center--------------------------------------------------->

<div class="container-fluid" id="center">
  <div class="row ">
    <div class="col-md-6">
      <img src="../../../assets/img/bradley.jpg" class="img-fluid" alt="">
    </div>
    <div class="col-md-6">
      <h1 class="display-3">Old School.</h1>
      <h2 class="display-4 text-center">We also Handle The Classics.</h2>
    </div>
  </div>
</div>

<!--------------------Service--------------------------------------------------->
<div class="container-fluid" id="about">
  <div id="about-bg-diagonal" class="bg-parallax"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div id="about-content-box">
          <div id="about-content-box-outer">
            <div id="about-content-box-inner">
              <div class="content-title">
                <h1>Portfolio.</h1>
                <div id="about-des">
                  <p class="lead">Head over to our portfolio page an take a look at our past, present and recent work.
                    Check out what we are doing here at FarRock performance</p>
                </div>
                <div id="about-btn" class="btn btn-primary">
                  <a href="/portfolio">OUR WORK</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--------------------------------Serve------------------------>
<!-- <div class="container-fluid  overlay" id="serve">
  <h1 class="display-4"> From JDM To classic Muscle</h1>
  <h2>We maintaince, Build and customize them all </h2>
</div> -->
