#center {
  background: #ed404e;
  color: #fff;
  font-family: poppin;
  padding-left: 0%;

  h1 {
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
  }

  h2 {
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
  }

  .lead {
    font-size: 1.5em;
    color: #fff;
  }
}

#info {
  text-align: center;
}
