<div class="container-fluid" id="center">
  <div class="row ">
    <div class="col-md-6">
      <img src="../../../assets/img/rx7left.jpg" class="img-fluid" alt="">
    </div>
    <div class="col-md-6" id="head">
      <h1>Contact</h1>
      <div class="container-fluid" id="info">
        <p class="lead"> Hours </p>
        <p class="lead">7am – 5pm Monday – Friday <br>
          11am – 5pm Saturday & Sunday </p>
        <div class="row text-center pt-3">
          <div class="col-md-6">
            <p class="lead">Phone Number:</p>
            <i class="fa fa-phone fa-2x"> 1(917)-000-5050</i>
          </div>
          <div class="col-md-6">
            <p class="lead">Email Address:</p>
            <i class="fa fa-envelope fa-2x"> YoMomma@yahoo.com</i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
